@media (min-width:980px) {
	body { 
		padding-top: 60px; 
	}
}

/* index page */

img#github-ribbon {
	position: absolute; 
	top: 40px; 
	right: 0; 
	border: 0;
}

@media (max-width: 980px) {
	img#github-ribbon {
		top: 50px; 
	}
	
	#application-status {
		display: none;
	}
}

/* error page */

pre.snippet code.line {
	border: none;
	display: block;
}

pre.snippet .lineNumber {
	display: inline-block;
	width: 3em;
}

pre.snippet .error {
	font-weight: bold;
}